<tr data-id="{{data.id}}">
  <td>
    <input name="taobaoId" class="info-input" type="text" value="{{data.taobaoId}}">
  </td>
  <td>
    <img class=" {{#if data.mainImage}} {{else}}icon-null{{/if}} img"  src="{{data.mainImage}}"/>
    <input type="input" name="mainImage" class="info-input" value="{{data.mainImage}}">
    <div class="btn btn-upload btn-primary">
      <span>上传</span>
      <input data-condition='{"width":250,"height":400,"size":51200}' data-idc="" type="file" name="file" single>
    </div>
  </td>
  <td>
    <input name="recommend" class="info-input" type="text" value="{{data.recommend}}">
  </td>
  <td>
    <button class="btn js-go-up" data-id="{{data.id}}">上移</button>
    <button class="btn js-go-down" data-id="{{data.id}}">下移</button>
    <button class="btn js-go-delete" data-id="{{data.id}}">删除</button>
  </td>
</tr>
