{{#each data}}
<tr>
  <td>
    <input name="taobaoId" class="info-input" type="text" value="{{taobaoId}}">
  </td>
  <td>
    <input required name="mainImage" class="input-large" type="text" value="{{mainImage}}">
  </td>
  <td>
    <input name="recommend" class="info-input" type="text" value="{{recommend}}">
  </td>
  <td>
    <button class="btn js-go-up" data-id="{{data.id}}">上移</button>
    <button class="btn js-go-down" data-id="{{data.id}}">下移</button>
    <button class="btn js-go-delete" data-id="{{data.id}}">删除</button>
  </td>
</tr>
{{/each}}
