<ul id="bank-list" class="suggestion" style="top: {{inputLocationTop}}px; left: {{inputLocationLeft}}px; width: 162px;">
  {{#each bankListData}}
  <li class="js-bank-list" data-bankcode="{{bankBranchCode}}" data-bankname="{{bankName}}"><a href="javascript:void(0);">{{bankName}}</a></li>
  {{/each}}
</ul>
