{{#component "js-comp groupon-user"}}
<p class="components-title"><strong class="tab-name">备货单信息(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form groupon-user-form" novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">OMS单号</label>
        <input name="omsOrderCode" type="text" value="{{omsOrderCode}}">
      </span>
      <span class="span3">
        <label for="">商品编码</label>
        <input name="itemCode" type="text" value="{{itemCode}}">
      </span>
      <span class="span3">
        <label for="">工贸名称</label>
        <input name="tradeName" type="text" value="{{tradeName}}">
      </span>
    </fieldset>
    <fieldset>
      <span class="span3">
        <label for="">交货单号</label>
        <input name="gvsDn1" type="text" value="{{gvsDn1}}">
      </span>
      <span class="span3">
        <label for="">OMS状态</label>
        <select name="omsStatus" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals omsStatus "00"}}selected{{/equals}} value="00">创建中</option>
          <option {{#equals omsStatus "01"}}selected{{/equals}} value="01">草稿</option>
          <option {{#equals omsStatus "02"}}selected{{/equals}} value="02">发待审核</option>
          <option {{#equals omsStatus "03"}}selected{{/equals}} value="03">已冻结</option>
          <option {{#equals omsStatus "04"}}selected{{/equals}} value="04">待评审</option>
          <option {{#equals omsStatus "05"}}selected{{/equals}} value="05">待确认</option>
          <option {{#equals omsStatus "06"}}selected{{/equals}} value="00">等待发货</option>
          <option {{#equals omsStatus "07"}}selected{{/equals}} value="07">车辆已离园</option>
          <option {{#equals omsStatus "08"}}selected{{/equals}} value="08">等待工贸发货</option>
          <option {{#equals omsStatus "09"}}selected{{/equals}} value="09">工贸已发货</option>
          <option {{#equals omsStatus "10"}}selected{{/equals}} value="10">到达客户</option>
          <option {{#equals omsStatus "11"}}selected{{/equals}} value="11">已签收</option>
          <option {{#equals omsStatus "12"}}selected{{/equals}} value="12">已返单</option>
          <option {{#equals omsStatus "13"}}selected{{/equals}} value="13">已开发票</option>
          <option {{#equals omsStatus "14"}}selected{{/equals}} value="14">发票已打印</option>
          <option {{#equals omsStatus "15"}}selected{{/equals}} value="15">票据已签收</option>
          <option {{#equals omsStatus "16"}}selected{{/equals}} value="16">已撤销待确认</option>
          <option {{#equals omsStatus "17"}}selected{{/equals}} value="17">已关闭</option>
          <option {{#equals omsStatus "18"}}selected{{/equals}} value="18">已取消</option>
          <option {{#equals omsStatus "20"}}selected{{/equals}} value="20">订单未满足</option>
          <option {{#equals omsStatus "21"}}selected{{/equals}} value="21">已撤消</option>
          <option {{#equals omsStatus "22"}}selected{{/equals}} value="22">工贸库存满足</option>
          <option {{#equals omsStatus "23"}}selected{{/equals}} value="23">直发库存作废</option>
          <option {{#equals omsStatus "80"}}selected{{/equals}} value="80">已提交</option>
          <option {{#equals omsStatus "81"}}selected{{/equals}} value="81">已审核</option>
          <option {{#equals omsStatus "82"}}selected{{/equals}} value="82">24小时承诺</option>
          <option {{#equals omsStatus "83"}}selected{{/equals}} value="83">基地整车直发到客户在途</option>
          <option {{#equals omsStatus "84"}}selected{{/equals}} value="84">产品总监待审核</option>
          <option {{#equals omsStatus "85"}}selected{{/equals}} value="85">供应链待审核</option>
          <option {{#equals omsStatus "99"}}selected{{/equals}} value="99">工厂已装车</option>
        </select>
      </span>
      <span class="span3">
        <label for="">入库状态</label>
        <select name="storeStatus" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals storeStatus "0"}}selected{{/equals}} value="0">未入库</option>
          <option {{#equals storeStatus "1"}}selected{{/equals}} value="1">已入库</option>
        </select>
      </span>
      <span class="span1 last">
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="/group/stock">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<p>
  <button class="btn btn-primary js-export-stock">导出备货单</button>
</p>
  <table class="table table-striped group-order-table">
    <thead>
      <tr>
        <th width="150">OMS订单号</th>
        <th width="150">OMS订单行项目号</th>
        <th width="120">工贸名称</th>
        <th width="200">商品编码</th>
        <th width="200">商品名称</th>
        <th width="200">交货单号</th>
        <th width="120">备货数量</th>
        <th width="120">OMS状态</th>
        <th width="100">入库状态</th>
        <th width="120">入库时间</th>
      </tr>
    </thead>
    <tbody>
      {{#each _DATA_.data}}
        <tr>
          <td>{{omsOrderCode}}</td>
          <td>{{omsItemNo}}</td>
          <td>{{tradeName}}</td>
          <td>{{itemCode}}</td>
          <td>{{itemDesc}}</td>
          <td>{{gvsDn1}}</td>
          <td>{{orderQty}}</td>
          <td>
            {{#equals omsStatus "00"}}创建中{{/equals}}
            {{#equals omsStatus "01"}}草稿{{/equals}}
            {{#equals omsStatus "02"}}待审核{{/equals}}
            {{#equals omsStatus "03"}}已冻结{{/equals}}
            {{#equals omsStatus "04"}}待评审{{/equals}}
            {{#equals omsStatus "05"}}待确认{{/equals}}
            {{#equals omsStatus "06"}}等待发货{{/equals}}
            {{#equals omsStatus "07"}}车辆已离园{{/equals}}
            {{#equals omsStatus "08"}}等待工贸发货{{/equals}}
            {{#equals omsStatus "09"}}工贸已发货{{/equals}}
            {{#equals omsStatus "10"}}到达客户{{/equals}}
            {{#equals omsStatus "11"}}已签收{{/equals}}
            {{#equals omsStatus "12"}}已返单{{/equals}}
            {{#equals omsStatus "13"}}已开发票{{/equals}}
            {{#equals omsStatus "14"}}发票已打印{{/equals}}
            {{#equals omsStatus "15"}}票据已签收{{/equals}}
            {{#equals omsStatus "16"}}已撤销待确认{{/equals}}
            {{#equals omsStatus "17"}}已关闭{{/equals}}
            {{#equals omsStatus "18"}}已取消{{/equals}}
            {{#equals omsStatus "20"}}订单未满足{{/equals}}
            {{#equals omsStatus "21"}}已撤消{{/equals}}
            {{#equals omsStatus "22"}}工贸库存满足{{/equals}}
            {{#equals omsStatus "23"}}直发库存作废{{/equals}}
            {{#equals omsStatus "80"}}已提交{{/equals}}
            {{#equals omsStatus "81"}}已审核{{/equals}}
            {{#equals omsStatus "82"}}24小时承诺{{/equals}}
            {{#equals omsStatus "83"}}基地整车直发到客户在途{{/equals}}
            {{#equals omsStatus "84"}}产品总监待审核{{/equals}}
            {{#equals omsStatus "85"}}供应链待审核{{/equals}}
            {{#equals omsStatus "99"}}工厂已装车{{/equals}}
          </td>
          <td>
            {{#equals storeStatus "0"}}未入库{{/equals}}
            {{#equals storeStatus "1"}}已入库{{/equals}}
          </td>
          <td>{{formatDate storeDate "day"}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
<p></p>
<div class="inline-pagination align-right">
  <div class="stock-pagination" data-total="{{_DATA_.groupUserPaging.total}}"></div>
</div>
{{/component}}
