{{#component "js-comp buzv-paydetailhistory"}}
<p class="components-title"><strong class="tab-name">付款信息(<span class="total-num">{{_DATA_.commissionVendorMonthPaging.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <div class="control-group control-group-2">
        <label for="">立项号:</label>
        <span class="content"> {{_DATA_.projectNo}} &nbsp; </span>
      </div>
      <div class="control-group control-group-2">
        <label for="">应付佣金总额(元):</label>
        <span class="content">{{formatPrice _DATA_.commissionAll}} &nbsp; </span>
      </div>
    </fieldset>
  </form>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input class="js-select-all" type="checkbox"></th>
      <th width="120">商户编号</th>
      <th width="250">商户名称</th>
      <th width="265">佣金金额(元)</th>
      <th width="175">佣金付款状态</th>
      <th width="250">付款日期</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.commissionVendorMonthPaging.data}}
      <tr>
        <td><input class="js-batch-checkbox" type="checkbox" value="{{id}}"></td>
        <td>{{vendorCode}}</td>
        <td>{{vendorName}}</td>
        <td>{{formatPrice commission}}</td>
        <td>
          {{#equals payStatus "0"}}未付款{{/equals}}
          {{#equals payStatus "1"}}付款中{{/equals}}
          {{#equals payStatus "2"}}已付款{{/equals}}
          {{#equals payStatus "-1"}}付款失败{{/equals}}
        </td>
        <td>{{formatDate payDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p></p>
<div class="inline-pagination align-right">
  <div class="payhistory-pagination" data-total="{{_DATA_.commissionVendorMonthPaging.total}}"></div>
</div>
<hr>
<p></p>
<div class="align-center">
  <a href="/buzv/pay" class="btn btn-primary">返回</a>
</div>
{{/component}}
