{{#component "js-comp leader-profitsRule"}}
<p class="components-title"><strong class="tab-name">分润规则(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">规则类型</label>
        <select name="type" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals type "1"}}selected{{/equals}} value="1">按比例</option>
          <option {{#equals type "2"}}selected{{/equals}} value="2">满返现</option>
        </select>
      </span>
      <span class="span3">
        <label for="">规则状态</label>
        <select name="status" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals status "1"}}selected{{/equals}} value="1">可用</option>
          <option {{#equals status "0"}}selected{{/equals}} value="0">不可用</option>
        </select>
      </span>
      <span class="span1">
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="/leader/profitsRule">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="180">规则编号</th>
      <th width="290">规则名称</th>
      <th width="290">规则类型</th>
      <th width="290">规则状态</th>
      <th width="295">佣金比例</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>
          {{#equals type "1"}}按比例{{/equals}}
          {{#equals type "2"}}满返现{{/equals}}
        </td>
        <td>
          {{#equals status "1"}}可用{{/equals}}
          {{#equals status "0"}}不可用{{/equals}}
        </td>
        <td>{{vendorCommission}}{{#if vendorCommission}}%{{/if}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p></p>
<div class="inline-pagination align-right">
  <div class="profitsrule-pagination" data-total="{{_DATA_.total}}"></div>
</div>
{{/component}}
