{{#component "js-comp agent-orders"}}
<p class="components-title"><strong class="tab-name">订单列表(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">订单状态</label>
        <select name="orderStatus" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals orderStatus "0"}}selected{{/equals}} value="0">已提交</option>
          <option {{#equals orderStatus "1"}}selected{{/equals}} value="1">卖家已发货</option>
          <option {{#equals orderStatus "2"}}selected{{/equals}} value="2">交易完成</option>
          <option {{#equals orderStatus "-1"}}selected{{/equals}} value="-1">买家关闭</option>
          <option {{#equals orderStatus "-2"}}selected{{/equals}} value="-2">卖家关闭</option>
          <option {{#equals orderStatus "-3"}}selected{{/equals}} value="-3">卖家退款</option>
          <option {{#equals orderStatus "9"}}selected{{/equals}} value="9">订单作废</option>
        </select>
      </span>
      <span class="span3">
        <label for="">订单时间
        </label>
        <input id="orderDateStart" name="orderDateStart" class="input-small" type="text" value="{{orderDateStart}}">
        -
        <input id="orderDateEnd" name="orderDateEnd" class="input-small" type="text" value="{{orderDateEnd}}">
      </span>
      <span class="span3">
        <label for="">订单编号</label>
        <input name="orderNO" type="text" value="{{orderNO}}">
      </span>
      <span class="span1 last">
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="/agent/orders">取消</a>
      </span>
    </fieldset>
    <fieldset>
      <span class="span3">
        <label for="">商户编号</label>
        <input name="vendorCode" type="text" value="{{vendorCode}}">
      </span>
    </fieldset>
  </form>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input class="js-select-all" type="checkbox"></th>
      <th width="180">订单编号</th>
      <th width="190">商户编码</th>
      <th width="190">商户名称</th>
      <th width="165">订单金额(元)</th>
      <th width="165">订单日期</th>
      <th width="105">付款类型</th>
      <th width="105">付款状态</th>
      <th width="100">订单状态</th>
      <th width="90">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td><input class="js-batch-checkbox" type="checkbox" value="{{id}}"></td>
        <td>{{orderNo}}</td>
        <td>{{vendorCode}}</td>
        <td>{{vendorName}}</td>
        <td>{{amt}}</td>
        <td>{{formatDate orderDate}}</td>
        <td>
          {{#equals payType "1"}}微信{{/equals}}
          {{#equals payType "2"}}建行{{/equals}}
        </td>
        <td>
          {{#equals payStatus "0"}}未付款{{/equals}}
          {{#equals payStatus "1"}}已付款{{/equals}}
        </td>
        <td>
          {{#equals status "0"}}已提交{{/equals}}
          {{#equals status "1"}}卖家已发货{{/equals}}
          {{#equals status "2"}}交易完成{{/equals}}
          {{#equals status "-1"}}买家关闭{{/equals}}
          {{#equals status "-2"}}卖家关闭{{/equals}}
          {{#equals status "-3"}}卖家退款{{/equals}}
          {{#equals status "9"}}订单作废{{/equals}}
        </td>
        <td><a href="/agent/orderdetail?id={{id}}">查看详情</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p></p>
<div class="inline-pagination align-right">
  <div class="orders-pagination" data-total="{{_DATA_.total}}"></div>
</div>
{{/component}}

