{{#component "js-comp leader-paydetailhistory"}}
<p class="components-title"><strong class="tab-name">付款信息(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <div class="control-group control-group-2">
        <label for="">立项号:</label>
        <span class="content"> {{#if _DATA_.order.orderNo}} {{_DATA_.order.orderNo}} {{else}} &nbsp; {{/if}}</span>
      </div>
      <div class="control-group control-group-2">
        <label for="">订单金额(元):</label>
        <span class="content">{{#if _DATA_.order.amt}} {{formatPrice _DATA_.order.amt "Y" 2 }} {{else}} &nbsp; {{/if}}</span>
      </div>
      <div class="control-group control-group-2">
        <label for="">审核日期:</label>
        <span class="content">{{#if _DATA_.order.orderDate}} {{formatDate _DATA_.order.orderDate }} {{else}} &nbsp; {{/if}}</span>
      </div>
      <div class="control-group control-group-2">
        <label for="">应付佣金总额(元):</label>
        <span class="content">{{#if _DATA_.order.orderDate}} {{formatDate _DATA_.order.orderDate }} {{else}} &nbsp; {{/if}}</span>
      </div>
    </fieldset>
  </form>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input class="js-select-all" type="checkbox"></th>
      <th width="120">商户编号</th>
      <th width="120">商户名称</th>
      <th width="165">订单总金额(元)</th>
      <th width="165">佣金金额(元)</th>
      <th width="175">佣金付款状态</th>
      <th width="105">总部审批结果</th>
      <th width="165">申请付款日期</th>
      <th width="120">审核时间</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td><input class="js-batch-checkbox" type="checkbox" value="{{id}}"></td>
        <td>{{projectNo}}</td>
        <td>{{projectNo}}</td>
        <td>{{amt}}</td>
        <td>{{formatPrice commission}}</td>
        <td>
          {{#equals payStatus "0"}}未付款{{/equals}}
          {{#equals payStatus "1"}}付款中{{/equals}}
          {{#equals payStatus "2"}}已付款{{/equals}}
          {{#equals payStatus "-1"}}付款失败{{/equals}}
        </td>
        <td>
          {{#equals status "0"}}尚未审核{{/equals}}
          {{#equals status "1"}}审核中{{/equals}}
          {{#equals status "2"}}审核通过{{/equals}}
          {{#equals status "-1"}}审核不通过{{/equals}}
        </td>
        <td>{{formatDate applyDate}}</td>
        <td>{{auditDate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p></p>
<div class="inline-pagination align-right">
  <div class="orders-pagination" data-total="{{_DATA_.total}}"></div>
</div>
<hr>
<p></p>
<div class="align-center">
  <a href="/leader/checkpay" class="btn btn-primary">返回</a>
</div>
{{/component}}
