{{#component "js-comp admin-agentdetail"}}
<p class="components-title"><strong class="tab-name">代理商详细信息</strong></p>
<form action="/api/users" method="POST" class="form form-aligned" novalidate="true">
  <fieldset>
    <div class="control-group">
      <hr>
      <h4>登陆信息:</h4>
    </div>
    <div class="control-group">
      <label for="email">登陆用户名:</label>
      <span class="content">{{_DATA_.userName}}&nbsp;</span>
    </div>
    <div class="control-group">
      <hr>
      <h4>基本信息:</h4>
    </div>
    <div class="control-group control-group-2">
      <label for="email">企业性质:</label>
      <span class="content">
        {{#equals _DATA_.vendor.nature "1"}}国有{{/equals}}
        {{#equals _DATA_.vendor.nature "2"}}集体{{/equals}}
        {{#equals _DATA_.vendor.nature "3"}}民营{{/equals}}
        {{#equals _DATA_.vendor.nature "4"}}私营{{/equals}}
        {{#equals _DATA_.vendor.nature "5"}}合资{{/equals}}
        {{#equals _DATA_.vendor.nature "6"}}外资{{/equals}}
        {{#equals _DATA_.vendor.nature "7"}}其他{{/equals}}&nbsp;
      </span>
    </div>
    <div class="control-group control-group-2">
      <label for="name">代理商名称:</label>
      <span class="content">{{_DATA_.vendor.vendorName}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="name">代理商编码:</label>
      <span class="content"> {{_DATA_.vendor.vendorCode}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label class="control-label">省市区:</label>
      <span class="content"> {{_DATA_.provinceName}}-{{_DATA_.cityName}}-{{_DATA_.regionName}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">街道地址:</label>
      <span class="content"> {{_DATA_.vendor.stree}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">邮政编码:</label>
      <span class="content"> {{_DATA_.vendor.zipCode}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">电话:</label>
      <span class="content"> {{_DATA_.vendor.phone}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">传真:</label>
      <span class="content"> {{_DATA_.vendor.fax}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">邮箱:</label>
      <span class="content"> {{_DATA_.vendor.email}}&nbsp;</span>
    </div>
    <div class="control-group">
      <hr>
      <h4>法人信息:</h4>
    </div>
    <div class="control-group control-group-2">
      <label for="">法人名称:</label>
      <span class="content"> {{_DATA_.vendor.legalPerson}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">法人手机号码:</label>
      <span class="content"> {{_DATA_.vendor.legalMobile}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">法人身份证号:</label>
      <span class="content"> {{_DATA_.vendorPaperwork.corporateIdentityCode}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">法人身份证正面图片</label>
      <img class="{{#if _DATA_.vendorPaperwork.corporateIdentityB}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.corporateIdentity "big"}}"/>
    </div>
    <div class="control-group control-group-2">
      <label for="">法人身份证背面图片</label>
      <img class="{{#if _DATA_.vendorPaperwork.corporateIdentityB}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.corporateIdentityB "big"}}"/>
    </div>
    <div class="control-group">
      <hr>
      <h4>银行相关信息:</h4>
    </div>
    <div class="control-group">
      <label for="">税务登记号:</label>
      <span class="content"> {{_DATA_.vendor.taxCode}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">银行名称:</label>
      <span class="content"> {{_DATA_.vendor.bankName}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">银行账户:</label>
      <span class="content"> {{_DATA_.vendor.bankAccountNum}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">银行卡持有人:</label>
      <span class="content"> {{_DATA_.vendor.accountHolderName}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">银行码:</label>
      <span class="content"> {{_DATA_.vendor.bankBranchCode}}&nbsp;</span>
    </div>
    <div class="control-group">
      <hr>
      <h4>三证信息:</h4>
    </div>
    <div class="control-group control-group-2">
      <label for="">组织机构代码</label>
      <span class="content"> {{_DATA_.vendorPaperwork.organizationCode}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">组织机构有效期</label>
      <span class="content"> {{formatDate _DATA_.vendorPaperwork.organizationValidDate "day"}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">组织结构代码证</label>
      <img class="{{#if _DATA_.vendorPaperwork.organization}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.organization "big"}}"/>
    </div>
    <div class="control-group control-group-2">
      <label for="">营业执照编号</label>
      <span class="content"> {{imgFormat _DATA_.vendorPaperwork.businessLicenceCode "big"}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">营业执照有效期</label>
      <span class="content"> {{formatDate _DATA_.vendorPaperwork.businessLicenceValidDate "day"}}&nbsp;</span>
    </div>
    <div class="control-group">
      <label for="">营业执照</label>
      <img class="{{#if _DATA_.vendorPaperwork.businessLicence}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.businessLicence "big"}}"/>
    </div>
    <div class="control-group">
      <label for="">税务登记证编号</label>
      <span class="content"> {{_DATA_.vendorPaperwork.taxCertificateCode}}&nbsp;</span>
    </div>
    <div class="control-group control-group-2">
      <label for="">税务登记证</label>
      <img class="{{#if _DATA_.vendorPaperwork.taxCertificate}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.taxCertificate "big"}}"/>
    </div>
    <div class="control-group control-group-2">
      <label for="">开户许可证</label>
      <img class="{{#if _DATA_.vendorPaperwork.accountPermit}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.accountPermit "big"}}"/>
    </div>
    <div class="control-group control-group-2">
      <label for="">合同图片1</label>
      <img class="{{#if _DATA_.vendorPaperwork.contractImage1}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.contractImage1 "big"}}"/>
    </div>
    <div class="control-group control-group-2">
      <label for="">合同图片2</label>
      <img class="{{#if _DATA_.vendorPaperwork.contractImage2}} {{else}}icon-null{{/if}} img" src="{{imgFormat _DATA_.vendorPaperwork.contractImage2 "big"}}"/>
    </div>
    <div class="control-group">
      <hr>
    </div>
    <div class="align-center">
      <a href="/admin/agents" class="btn btn-primary">返回</a>
    </div>
  </fieldset>
</form>
{{/component}}
