{{#component "js-comp buzv-pay"}}
<p class="components-title"><strong class="tab-name">付款信息(<span class="total-num">{{_DATA_.total}}</span>)</strong></p>
<div class="block block-search">
  <form class="form " novalidate="true">
    <fieldset>
      <span class="span3">
        <label for="">付款状态</label>
        <select name="payStatus" class="select">
          <option value="" selected="">请选择</option>
          <option {{#equals payStatus "0"}}selected{{/equals}} value="0">未付款</option>
          <option {{#equals payStatus "1"}}selected{{/equals}} value="1">付款中</option>
          <option {{#equals payStatus "2"}}selected{{/equals}} value="2">已付款</option>
          <option {{#equals payStatus "-1"}}selected{{/equals}} value="-1">付款失败</option>
        </select>
      </span>
      <span class="span3">
        <label for="">立项号</label>
        <input name="projectNo" type="text" value="{{projectNo}}">
      </span>
      <span class="span3">
        <label for="">申请时间
        </label>
        <input id="applyDateStart" name="applyDateStart" class="input-small" type="text" value="{{applyDateStart}}">
        -
        <input id="applyDateEnd" name="applyDateEnd" class="input-small" type="text" value="{{applyDateEnd}}">
      </span>
      <span class="span1">
        <button type="submit" class="btn btn-primary">筛选</button>
        &nbsp;
        <a href="/buzv/pay">取消</a>
      </span>
    </fieldset>
  </form>
</div>
<p>
  <a class="btn btn-primary" href="/buzv/paydetailnow">当前应付款项</a>
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th width="40"><input class="js-select-all" type="checkbox"></th>
      <th width="120">立项号</th>
      <th width="165">佣金金额(元)</th>
      <th width="175">佣金付款状态</th>
      <th width="105">总部审批结果</th>
      <th width="165">申请付款日期</th>
      <th width="165">审核时间</th>
      <th width="200">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each _DATA_.data}}
      <tr>
        <td><input class="js-batch-checkbox" type="checkbox" value="{{id}}"></td>
        <td>{{projectNo}}</td>
        <td>{{commission}}</td>
        <td>
          {{#equals payStatus "0"}}未付款{{/equals}}
          {{#equals payStatus "1"}}付款中{{/equals}}
          {{#equals payStatus "2"}}已付款{{/equals}}
          {{#equals payStatus "-1"}}付款失败{{/equals}}
        </td>
        <td>
          {{#equals status "0"}}尚未审核{{/equals}}
          {{#equals status "1"}}审核中{{/equals}}
          {{#equals status "2"}}审核通过{{/equals}}
          {{#equals status "-1"}}审核不通过{{/equals}}
        </td>
        <td>{{formatDate applyDate "day"}}</td>
        <td>{{formatDate auditDate "day"}}</td>
        <td><a href="/buzv/paydetailhistory?paymentInfoId={{id}}">查看详情</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
<p></p>
<div class="inline-pagination align-right">
  <div class="pays-pagination" data-total="{{_DATA_.total}}"></div>
</div>
{{/component}}
